<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
@font-face {
	font-family: 'Font';
	font-style: normal;
	font-weight: normal;
	src: url('font.ttf') format('truetype');
}

body {
    margin: 0;
    background: #2e3440;
}

span {
    font-size: 80;
    font-family: "Font";    
    text-align: center;
	direction: rtl;
    color: { color };

    
    display: -webkit-box;
    display:flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    height: 100%;
    width: 60%;

    margin-left: 20%;
}
</style>
<span>{ text }</span>
